#about_missions{
    color: $mainAccientColor;
    text-align: center;
    padding: 2.9167rem 0px;
}


#about_expertise{
    text-align: center;
    color:$mainAccientColor;
    
}

.expertise_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width:969px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2.0833rem;
}
}


.expertise_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.expertise_item_title{
    font-size: 1.2rem;
}

.expertise_item_value{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1.6667rem;
    margin-bottom: 1.1667rem;
}


.deliver_wrapper{
 margin-top: 4.1667rem;   
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.deliver_l {
    background-color: rgb(236, 242, 255);
    border-radius: 35px;
    border-top-right-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.25rem 0px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 87% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 87% 100%, 0% 100%);
    h2{
        @media  screen and(max-width:969px) {
            font-size: 1.8rem;
            }

        @media  screen and(max-width:544px) {
            font-size: 1.3rem;
            }
    }
}


.deliver_r {
    background-color: rgb(248, 249, 251);
    width: 100%;
    border-radius: 35px;
    border-bottom-left-radius: 0px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.0833rem;
    -webkit-clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
    span{
        display: block;
        font-size: 2.6667rem;
        @media  screen and(max-width:969px) {
            font-size: 1.8rem;
        }

        @media  screen and(max-width:544px) {
        font-size: 1.3rem;
        }
    }

    
}


#about_standfor{
    padding: 2.9167rem 0px;
    text-align: center;
    color: $mainAccientColor;
}

.standfor_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap:5.8333rem ;
}

.standfor_item{
    text-align: center;

    .standfor_title{
        font-size: 1rem;
        font-weight: 600;
        margin: 1.875rem 0px;
    }

    .standfor_text{
        font-size: 1.2rem;
        font-weight: 300;
        max-width: 27.9167rem;
        margin: 0 auto;
    }

    img{
        width: 10%;
    }
}