@media screen and (max-width:1601px) {
    html{
        font-size: 18px;
    }

    .hero_image object {
        width: 80%;
    }

    .tokr img {
        width: 85%;
    }

    .vaultr object {
        width: 80%;
    }

    .smartr img {
        width: 85%;
        filter: drop-shadow(rgba(0, 0, 0, 0.08) 0px 4px 16px);
    }
}


@media screen and (max-width:1401px) {
    html{
        font-size: 16px;
    }

    .hero_title{
        max-width: 38rem;
    }

    h1{
        font-size: 2.5rem;
    }

    p{
        font-size: 1.2rem;
    }

    .hero_image object {
        width: 70%;
    }

    .vaultr object {
        width: 75%;
    }

    .smartr img {
        width: 75%;
        filter: drop-shadow(rgba(0, 0, 0, 0.08) 0px 4px 16px);
    }
   
   
}

@media screen and (max-width:1281px) {
    html{
        font-size: 14px;
    }

    .smartl p {
        max-width: 30.6667rem;
        margin-bottom: 1.5833rem;
    }

    .hero_image object {
        width: 60%;
    }

   
}

@media screen and (max-width:969px) {
//HEADER
    .header{
    nav{
        display: none;
    }

    #humb{
        display: block;
    }
    }


    .hero_wrapper{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        row-gap: 1.3rem;

        .white_button{
            display: none;
        }
        .bt_hidden{
            display: block;
            margin-top: 1.3rem;
        }
        .hero_image{
            text-align: center;
        }
    }

    //HEADER


    //TOKEN
    .tokenization_wrapper{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        .slide_hide {
            position: relative;
            text-align: end;
            display: block;
            img{
                width: 75%;
            }
        }
        .tokl p{
            max-width: 100%;
        }

        .tokl ul{
            text-align: left;
            margin: 1rem auto;
        }

        .tokl button{
            margin: 0 auto;
        }

        .tokr{
            display: none;
        }
    }
    //TOKEN


    //smart
    .smartplace_wrapper{
        flex-wrap: wrap;
    }
    //smart


    //vault
    .vault_wrapper{
        flex-wrap: wrap;
        justify-content: center;
       }
    
       .vaultl{
        text-align: center;
        button{
            margin: 80px auto;
        }
       }
    
       .vaultr{
        display: none;
       }
    //vault

    //blog
    .post_container{
        width: 100%;
    }
    //blog
}