@media screen and (max-width:1601px) {
    html{
        font-size: 18px;
    }

    .hero_image object {
        width: 80%;
    }

    .tokr img {
        width: 85%;
    }
}


@media screen and (max-width:1401px) {
    html{
        font-size: 16px;
    }

    .hero_title{
        max-width: 38rem;
    }

    h1{
        font-size: 2.5rem;
    }

    p{
        font-size: 1.2rem;
    }

    .hero_image object {
        width: 70%;
    }

   
   
}

@media screen and (max-width:1281px) {
    html{
        font-size: 14px;
    }

    .smartl p {
        max-width: 30.6667rem;
        margin-bottom: 1.5833rem;
    }

    .hero_image object {
        width: 60%;
    }

   
}