
@media screen and (max-width:1650px) {

    .hero_image > object{
       width: 95%;
    }

    .hero_title h1{
        font-size: 1.8em;
        max-width: 600px;
    }

    p{
        font-size: 1em;
        max-width: 650px;
    }

    .white_button{
        font-size: 0.8em;
        padding: 15px 30px;
    }
   

}


@media screen and (max-width:1275px) {
    .hero_title h1{
        font-size: 1.6em;
        max-width: 600px;
    }

    .hero_title p{
        font-size: 0.8em;
        max-width: 570px;
        line-height: 40px;
    }


    .tokl h2{
        font-size: 1.3em;
        max-width: 600px;
    }

    .tokl p{
        font-size: 0.8em;
        max-width: 570px;
        line-height: 40px;
    }

    .tokl ul{
    font-size: 0.8em;
    }
}


@media screen and(max-width:1025px) {
    .hero_title h1{
        font-size: 1.2em;
        max-width: 430px;
    }

    .hero_title p{
        font-size: 0.7em;
        max-width: 460px;
        line-height: 30px;
    }

    .tokl h2{
        font-size: 1.3em;
        max-width: 600px;
    }

    .tokl p{
        font-size: 0.8em;
        max-width: 570px;
        line-height: 40px;
    }

    .tokl ul{
    font-size: 0.7em;
    }
  
}


@media screen and(max-width:900px) {


    .container{
        padding: 0px 15px;
    }

   #humb{
    display: block;
   }

   nav{
    display: none;
   }

   .logo img{
    width: 67px;
    height: 17px;
   }


    .hero_title{
        width: auto;
    }
    .hero_title  h1{
        text-align: center;
    }

    .hero_title p{
        font-size: 0.7em;
        width: 100%;
        text-align: center;
    }

    .hero_wrapper{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }

    .white_button{
        display: none;
    }

    .bt_hidden{
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    .hero_image > object{
        margin-top: 30px;
    }

    .hero_image{
        text-align: center;
    }

    .hero_image > object{
       width: 85%;
    }
    

    .tokenization_wrapper{
    justify-content: center;
    align-items: center;

    }

    .tokl{
    text-align: center;
    
    button{
        margin: 60px auto;
    }
    .slide_hide img{
        width: 95%;
     }
     h2{
        max-width: 100%;
     }
     p{
        max-width: 100%;
     }

    }

    .slide_hide{
        display: block;
    }

    .tokr{
        display: none;
    }

}