@media screen and (max-width:1650px) {

    .hero_image > object{
       width: 95%;
    }

    .hero_title h1{
        font-size: 1.8rem;
        max-width: 600px;
    }

    p{
        font-size: 1rem;
        max-width: 740px;
    }

    .white_button{
        font-size: 0.8rem;
        padding: 15px 30px;
    }
   
    .footer_nav{
        font-size: 12px;
        margin-right: -80px;
        a{
            margin-right:-88px ;
        }
    }

    .footer_nav li:nth-child(1){
        font-size: 16px;
    }


}


@media screen and (max-width:1281px) {
    .hero_title h1{
        font-size: 1.6rem;
        max-width: 600px;
    }

    .hero_title p{
        font-size: 0.8rem;
        max-width: 570px;
        line-height: 40px;
    }


    .tokl h2{
        font-size: 1.25em;
        max-width: 600px;
        margin-bottom: 10px;
    }

    .tokl p{
        font-size: 0.75rem;
        font-weight: 400;
        max-width: 430px;
        line-height: 125%;
    }

    .tokl ul{
    font-size: 0.66rem;
    margin-top: 19px;
    }

    .tokl button{
        margin-top: 40px;
    }

    #tokenization{
        padding-bottom: 60px;
    }

    .smartl h2{
        font-size: 1.25em;
        margin: 0px 0px 20px 0px;
    }

    .smartl p{
        font-size: 0.75rem;
        max-width: 680px;
        font-weight: 400;
        line-height: 125%;
    }

    .smart_button{
        font-size: 0.66rem;
        width: 363px;
    }

    .smartplace_wrapper{
        align-items: initial;
    }

    .smartl{
        transform: translateY(-59px);
    }

    .slide_title{
        font-size: .66rem;
    }

    .blue_button{
        font-size: 0.75rem;
    }

    .items-gird{
    margin-top: 28px;
    }

    .vaultl h2{
        font-size: 1.25em;
        margin-top: 0;
        margin-bottom: 20px;

        img{
            margin-right: -15px;
        }
    }

    .vaultl p{
        font-size: 0.75rem;
        max-width: 570px;
        font-weight: 400;
    }

    .items-gird{
        font-size: 0.7rem;
        grid-column-gap: 50px;
    }

}


@media screen and(max-width:1025px) {
    .hero_title h1{
        font-size: 1.2rem;
        max-width: 430px;
    }

    .hero_title p{
        font-size: 0.7rem;
        max-width: 460px;
        line-height: 30px;
    }

    .tokl h2{
        font-size: 1.3rem;
        max-width: 600px;
    }

    .tokl p{
        font-size: 0.8rem;
        max-width: 570px;
        line-height: 40px;
    }

    .tokl ul{
    font-size: 0.7rem;
    }
  
    .smartl h2{
        font-size: 1.6rem;
        text-align: center;
    }

    .smartl p{
        font-size: 0.8rem;
        text-align: center;
        line-height: 30px;
    }

    .slide_title{
        font-size: 0.8rem;
    }

    .vaultl h2{
        font-size: 1.6rem;
    }

    .vaultl p{
        font-size: 0.7rem;
        max-width: 570px;
        line-height: 40px;
    }

    .items-gird{
        font-size: 0.5rem;
        grid-column-gap: 50px;
    }

    .footer_nav{
        font-size: 10px;
        margin-right:-90px;
        a{
            margin-right:-88px ;
        }
    }

    .footer_nav li:nth-child(1){
        font-size: 14px;
    }

}


@media screen and(max-width:900px) {


    .container{
        padding: 0px 15px;
    }

   #humb{
    display: block;
   }

   nav{
    display: none;
   }

   .logo img{
    width: 67px;
    height: 17px;
   }


    .hero_title{
        width: auto;
    }
    .hero_title  h1{
        text-align: center;
    }

    .hero_title p{
        font-size: 0.7rem;
        width: 100%;
        text-align: center;
    }

    .hero_wrapper{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }

    .white_button{
        display: none;
    }

    .bt_hidden{
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    .hero_image > object{
        margin-top: 30px;
    }

    .hero_image{
        text-align: center;
    }

    .hero_image > object{
       width: 85%;
    }
    

    .tokenization_wrapper{
    justify-content: center;
    align-items: center;

    }

    .tokl{
    text-align: center;
    
    button{
        margin: 60px auto;
    }
    .slide_hide img{
        width: 95%;
     }
     h2{
        max-width: 100%;
     }
     p{
        max-width: 100%;
     }

     ul{
        text-align: left;
     }

    }

    .slide_hide{
        display: block;
    }

    .tokr{
        display: none;
    }

    .smartplace_wrapper{
        flex-wrap: wrap-reverse;
        justify-content: center;   
    }

    .smartr{
        text-align: center;
    }

    .smartl .blue_button{
        margin: 0 auto;
    }

    .smartl{
        display: none;
    }

    .smartr{
        display: none;
    }

    .smart_mobile{
        display: block;
    }

   .vault_wrapper{
    flex-wrap: wrap;
    justify-content: center;
   }

   .vaultl{
    text-align: center;
    button{
        margin: 80px auto;
    }
   }

   .vaultr{
    display: none;
   }


   .items-gird{
    grid-template-columns: auto auto;
    font-size: 0.5rem;
    .gird-item img{
        display: block;
        margin: 30px auto;

    }
   }

   #footer{
    padding: 102px 0px 51px 0px;
   
   }

    .footer_wrapper{
      flex-wrap: wrap-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 360px;
      margin:  0 auto;
    }

    .footer_nav{
        display: none;
    }


    .footer_social{
        text-align: center;
        margin-left: 0px;
    }

    .fotterl{
        margin-top: 37px;
    }


    .post_item{
        flex-direction: column;
    }

    .post_image{
        transform: translateY(-60px);
        img{
            display: block;
            margin: 0 auto;
        }
    }

    #hero{
        padding-bottom: 120px;
    }

    #tokenization{
        padding-top: 30px;
        padding-bottom: 0px;
    }

    #vault{
        padding: 20px 0px;
    }

    #blog {
        padding: 30px 0px;
    }

    h3{
        font-size: .75rem;
    }

    p{
        font-size: .6em;
        font-weight: 400;
    }
}

@media screen and(max-width:431px){

.post_container{
    width: 100%;
}
}