
  @media screen and (max-width:768px) {

    .container{
        padding: 0px 15px;
    }

   #humb{
    display: block;
   }

   nav{
    display: none;
   }

   .logo img{
    width: 67px;
    height: 17px;
   }

}


@media screen and (max-width:1650px) {

    .hero_image img{
        width: 110%;
    }

    .hero_title h1{
        font-size: 1.8em;
        max-width: 600px;
    }

    p{
        font-size: 1em;
        max-width: 650px;
    }
   

}