
  @media screen and (max-width:768px) {

    .container{
        padding: 0px 15px;
    }

   #humb{
    display: block;
   }

   nav{
    display: none;
   }

   .logo img{
    width: 67px;
    height: 17px;
   }

}


@media screen and (max-width:1650px) {

    .hero_image img{
        width: 95%;
    }

    .hero_title h1{
        font-size: 1.8em;
        max-width: 600px;
    }

    p{
        font-size: 1em;
        max-width: 650px;
    }

    .white_button{
        font-size: 0.8em;
        padding: 10px 30px;
    }
   

}


@media screen and (max-width:1275px) {
    .hero_title h1{
        font-size: 1.6em;
        max-width: 600px;
    }

    .hero_title p{
        font-size: 0.8em;
        max-width: 570px;
        line-height: 40px;
    }
}


@media screen and(max-width:1025px) {
    .hero_title h1{
        font-size: 1.2em;
        max-width: 430px;
    }

    .hero_title p{
        font-size: 0.7em;
        max-width: 460px;
        line-height: 30px;
    }
}