@media screen and (max-width:1601px) {
    html{
        font-size: 18px;
    }

    .hero_image object {
        width: 80%;
    }

    .tokr img {
        width: 85%;
    }

    .vaultr object {
        width: 80%;
    }

    

    /*smartplace_page*/
    .contract_r{
        object{
            transform: translateY(-4.5rem);
            width: 85%;
        }
    }

    .slide_title{
        max-width:635px
    }
    /*smartplace_page*/
}


@media screen and (max-width:1401px) {
    html{
        font-size: 16px;
    }

    .hero_title{
        max-width: 38rem;
    }

    h1{
        font-size: 2.5rem;
    }

    p{
        font-size: 1.2rem;
    }

    .hero_image object {
        width: 70%;
    }

    .vaultr object {
        width: 75%;
    }

    .slide_title{
        max-width:555px;
    }

   
}

@media screen and (max-width:1281px) {
    html{
        font-size: 14px;
    }

    .smartl p {
        max-width: 30.6667rem;
        margin-bottom: 1.5833rem;
    }

    .hero_image{
        object {
            width: 70%;
        }
        img{
            width: 90%;
        }
    
    }


    //smarplace_page
    .contract_r{
        img{
            display: initial;
            transform: translateY(-4.5rem);
            width: 70%;
        }
    }


    .sub_heading{
        font-size: 1.3333rem;
    
    }

    .slide_title{
        max-width: 490px;
    }


    //smarplace_page

   
}

@media screen and (max-width:969px) {
 
//HEADER
    .header{
    .logo img {width: 67px; height: 18px;}
    nav{display: none;}
    #humb{display: block;}

    .humb_menu{
        min-width: 20rem; 
        a{
            font-size: 1.6rem;
        }
    }
    }


    .hero_wrapper{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        row-gap: 1.3rem;

        .white_button{
            display: none;
        }
     
        .bt_hidden {
            display: block;
            margin: 30px auto;
            padding: 1.3rem 6.6rem;
            font-size: 1.2rem;
        }
        .hero_image{
            text-align: center;
        }
    }

    //HEADER


    //TOKEN
    .tokenization_wrapper{
        flex-wrap: wrap-reverse;
        justify-content: center;
        text-align: center;

        .tokr{
            text-align: center;
            display: none;
        }

        .slide_hide {
            position: relative;
            text-align: end;
            display: block;
            img{
                width: 90%;
            }
        }
        .tokl p{
            max-width: 100%;
            font-size: 1.5rem;
          
        }

        .tokl ul{
            text-align: left;
            margin: 1rem auto;
            font-size: 1.2rem;
        }

        .tokl button{
            margin: 2.0833rem auto;
            
        }

      
    }

    .blue_button{    
            display: block;
            margin: 30px auto;
            padding: 1.3rem 6.6rem;
            font-size: 1.2rem;
    }
    //TOKEN


    //smart
    .smartplace_wrapper{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin-top: 0.4167rem;
    }


    .index_smartl{
        p{
            margin: 1.6667rem auto;
            font-size: 1.5rem;
            max-width: 100%;
        }
        button{
        margin: 0.4583rem auto;
        font-size: 1.2rem;
        }
    }

    .smartl {
        p{
            margin: 1.6667rem auto;
        }
        button{
        margin: 0.4583rem auto;
        }
    }
    .smartr{
        display: none;
    }

    .smartr-hidden {
        display: block;
        text-align: center;
        margin-bottom: 4rem;
    }

    .smart_button {
    width: 35rem;
    padding: 1rem 5.8333rem 1rem 0.7917rem;
    }
    //smart


    //vault
    #vault{
        padding: 0;
    }
    .vault_wrapper{
        flex-wrap: wrap;
        justify-content: center;
       }
    
       .vaultl{
        text-align: center;
        button{
            margin: 80px auto;
        }
        p{
            font-size: 1.5rem;
        }
       }
    
       .vaultr{
        display: none;
       }

       .items-gird{
        grid-template-columns: 1fr 1fr;
        font-size: 1.2rem;
       }

       .gird-item img {
        display: block;
        margin: 0 auto;
        padding: 1.625rem 0px;
    }

    //vault

    //blog
    .post_container{
        width: 100%;
    }
    //blog


    //footer
    .footer_wrapper{
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 360px;
        margin:  0 auto;
      }
  
      .footer_nav{
          display: none;
      }
  
  
      .footer_social{
          text-align: center;
          margin-left: 0px;
      }
  
      .fotterl{
        width: 300px;
          margin-top: 1.5417rem;
      }
  
    //fotter


    .smr_vault_item_wrapeer{
        text-align: center;
    }

    .smr_items_grid{
        grid-template-columns: 1fr;
    }

    .smartplace_page_hero_p{
        font-size: 1.2rem;
    }

    /*smar_page*/
    .contract_wrapper{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .contract_l{
        button{display: none;}
    }

    .contract_r{
        text-align: center;
    }
    .contract_r img{
        text-align: center;
        transform: none;
        width: 55%;
        margin:  1.25rem auto;
    }
    .bt_hidden{
        display: block;
        margin: 1.9167rem auto;
        
    }
    
    .smartplace_page_hero_p{
        text-align: center;
        max-width: 100% !important;
    }

    .smartplace_page_hero_ul{
        font-size: 1.2rem;
    }

    .smartl{
        display: none;
    }
    .smart_mobile { 
        display: block;
    }


    .partners_logo_wrapper{
        flex-wrap: wrap;
    }
    /*smar_page*/


    ///INSTANT

    .instant_image{
        display: none;
    }

    .hidden_block{
        display: block;
    }
    

}

@media  screen and (max-width:544px) {
    .container{
        padding: 0px 15px;
    }

    html{
        font-size: 10px;
    }

    .smartplace_page_hero_ul{
        text-align: left;
        font-size: 1.1rem;
    }

    .swiper_smartphone {
        width: 400px;
        height: 250px;
        overflow: hidden;
        margin: 0 auto;
    }


    .copy{
        font-size: 1rem;
    }

    .footer_social{
        font-size: 1rem;
        margin-bottom: 30px;
    }

   

}