.blog_l{
    flex: 10;
}

.blog_r{
    border-left: 1px solid white;
    flex-grow: 1;
    h3{
        margin-left: 50px;
        margin-bottom: 50px;
    }
}

.blog_hero_wrapper{
    display: flex;
    flex: 70% 30% auto;
    margin-top: 40px;
}


.short_blog_item{

    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 1.6667rem; 
    img{
        border-radius: 10px;
        width: 30%;
    }
}

.short_blog_item_author{
    img{
        width: 24px;
        height: 24px;
    }
}

.short_blog_data{
    display: inline-block;
    margin-left: 0.8333rem;
    max-width: 7.9167rem;
    @media screen and(max-width:1281px){
        max-width: 9.9rem;
    }
}

.short_blog_item_tag{
    font-size: 12px;
    background: rgba(255, 255, 255, 0.1);
    display: inline;
    padding: 4px 8px;
    border-radius: 3px;
}

.short_blog_item_title{
    font-size: 0.9rem;
    margin-top: 10px;
}

.short_blog_item_author{
    span{
        font-size: 12px;
    }
    
}


.blog_hero_news_item{
 margin-top: 100px;  
 display: flex; 
 align-items: center;
 justify-content: space-around;

 

h2{
    font-size: 1.3333rem;
    max-width: 726px;
    @media screen and(max-width:1281px){
        max-width: 504px;
    }
}

p{
    max-width: 726px;
    @media screen and(max-width:1281px){
        max-width: 504px;
    }
}
}

.blog_hero_news_item_r{
    text-align: center;
    margin-right: 10px;
    img{
        width: 90%;
        border-radius: 10px;
        @media screen and(max-width:1281px){
            width: 70%;
        }
     }
}



.posted_wrapper{
    display: grid;
    grid-template-columns:  1fr auto;
}


#posted{
color: $mainAccientColor;
background-image: url('../assets/images/wawe_middle.svg');
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
padding: 50px 0px;


.posted_r{
min-width: 350px;
}

h4{
    font-size: 1.2rem;
}

ul{
    list-style: none;
    color: black;
    font-size: 15px;
   
    li{
        padding: 10px 0px;
        border-bottom: 1px dashed #D1E7E5;

        span{
            float: right;
            color: $mainAccientColor;
            font-weight: 500;
        }
    }

}



}

.posted_heading{
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 50px;
}


.posted_updates{
    margin-top: 3.3333rem;
}


.posted_updates_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 1rem;
    row-gap: 1rem;
}


.posted_updates_item{
    padding: 24px 24px;
    background-color: #EDEEF2;
    border-radius: 10px;
}

.posted_updates_item_value{
    font-weight: 500;
    font-size: 1.2rem;
}

.posted_updates_item_title{
    font-size: 15px;
    color: black;
    margin-top: 10px;
}


.news_wrapper{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    gap: 1.5417rem;
    margin-top: 50px;
}


.news_item{
    max-width: 23.8333rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.06);
    padding: 40px 24px;
}

.news_item_image{
   
    img{
        width: 100%;
        text-align: center;
        object-fit: contain;
    }

}

.news_category{
    display: inline-block;
    font-size: 12px;
    color:#666666 ;
    padding: 4px 8px;
    background: rgba(24, 32, 86, 0.08);
    margin-top: 23px;
    margin-bottom: 10px;
    border-radius: 3px;
}


.news_data{
    h3{
        font-size: 1.125rem;
        line-height: 140%;
    }
    p{
        font-size: 15px;
        color: #555555;
        margin-top: 27px;
    }
}

.news_author{
    font-size: 12px;
    color: #777777;
    margin-top: 27px;
}


.pagination_wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    margin-top: 70px;
}


.pag_page_button{
    padding: 13px 16px;
    border: 1px solid #C4C4C4 ;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    color:#666666 ;

    img{
       text-align: center;
       vertical-align: middle;
    }
}

.pag_active{
    color: white;
    background-color: $mainAccientColor;
}
