#blog{
    position:relative;
    background-image: url('../assets/images/blog_wawe.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 8.3333rem 0px;
    color: $mainAccientColor;
}

.blog_wrapper{
    h2{
        text-align: center;
    }
}

.post_container{
    width: 70%;
    margin: 0 auto;
}

.post_item{
    display: flex;
    background-color: white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1.6667rem;
    margin-top: 1.75rem;
    @media screen and(max-width:969px) {
        flex-direction: column;
    }
}

.post_image{
    transform: translatex(-3.3333rem);
    flex: 1;
    img{
    object-fit: contain;
    width: 100%;
    height: 200px;
    border-radius: 0.4167rem;
    @media screen and(max-width:969px) {
        height:400px;
     }

     @media screen and(max-width:544px) {
        height:200px;
     }
    }
    @media screen and(max-width:969px) {
       transform: none;
    }
}

.post_data{
    flex: 2;
}

.post__date{
    color: #BABABA;
    font-size: 0.5833rem;
    font-weight: 400;
    margin-bottom: 0.4167rem;
}


.post__title{
    p{
        font-size: 1rem;
        font-weight: 300;
        line-height: 175%;
        padding: 1.0417rem 0px 2.5rem 0px;
        
    }
}


.link_button{
    text-decoration: none;
    background-color: $mainAccientColor;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1.4167rem;
    color: white;
    font-size: .83rem;
    font-weight: 500;
    &:hover{
        background-color: #3848a3;
    }
}