#blog{
    position:relative;
    background-image: url('../assets/images/blog_wawe.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 200px 0px;
    color: $mainAccientColor;
}

.blog_wrapper{
    h2{
        text-align: center;
    }
}

.post_container{
    width: 70%;
    margin: 0 auto;
}

.post_item{
    display: flex;
    background-color: white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 40px;
    margin-top: 42px;
}

.post_image{
    transform: translatex(-80px);
    img{
        object-fit: contain;
    }
}

.post__date{
    color: #BABABA;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}


.post__title{
    p{
        font-size: .83rem;
        font-weight: 300;
        line-height: 175%;
        padding: 25px 0px 60px 0px;
        
    }
}


.link_button{
    text-decoration: none;
    background-color: $mainAccientColor;
    border: none;
    border-radius: 10px;
    padding: 12px 34px;
    color: white;
    font-size: .83rem;
    font-weight: 500;
}