.blog_l{
    @media screen and(max-width:969px) {
      h3{
        text-align: center;
        font-size: 2rem;
      }
    }
}


.blog_hero_wrapper{
    z-index: 2000;
    margin-top: 40px;
    padding: 50px 0px;
    @media screen and (max-width:968px) {
       margin-top: 0px;
    }
}


.short_blog_item{

    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 1.6667rem; 
    img{
        border-radius: 10px;
        width: 30%;
    }
}

.short_blog_item_author{
    img{
        width: 24px;
        height: 24px;
    }
}

.short_blog_data{
    display: inline-block;
    margin-left: 0.8333rem;
    max-width: 7.9167rem;
    @media screen and(max-width:1281px){
        max-width: 9.9rem;
    }
}

.short_blog_item_tag{
    font-size: 12px;
    background: rgba(255, 255, 255, 0.1);
    display: inline;
    padding: 4px 8px;
    border-radius: 3px;
    @media screen and(max-width:969px){

    display: none;
    }
}

.short_blog_item_title{
    font-size: 0.9rem;
    margin-top: 10px;
}

.short_blog_item_author{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 15px;
    font-size: 0.6rem;
    img{
        float: left;
        vertical-align: middle;
        border-radius: 100px;
    }
    span{
       margin-left: 10px;
       font-weight: 300;
    }

    i{
        font-style: normal;
        font-weight: 300;
        margin-left: 10px;
        &::before{
            display: inline-block;
            margin-right: 5px;
            content: '';
            width: 12px;
            height: 12px;
            background-image: url('../assets/images/calendar_icon.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    @media screen and (max-width:1281px) {
        font-size: 0.9rem;
    }

    @media screen and (max-width:544px) {
        font-size: 1.2rem;
    }
}

.blog_hero_news_item{
 margin-top: 1.25rem;  
 display: flex; 
 align-items: center;
 justify-content: space-between;
 z-index: 2000;
 

h2{
    font-size: 1.3333rem;
    max-width: 810px;
}

p{
    max-width: 900px;
    font-weight: 300;
    margin-top: 0.625rem;
    @media screen and(max-width:1601px){
        width: 635px;
    }

    @media screen and(max-width:1281px){
        width: 504px;
    }

    @media screen and(max-width:969px){
        width: 100%;
       
    }

    @media screen and (max-width:544px){
    text-align: left;
    font-size: 1.4rem;
    }
}

@media screen and(max-width:969px) {
  flex-wrap: wrap-reverse;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}

@media screen and (max-width:544px){
    text-align: left;
}

}


.blog_hero_news_item_l{
    z-index: 2000;
    a{
        display: block;
        color: white;
        font-size: 1.3rem;
        font-weight:500 ;
        margin-top: 10px;
        @media screen and (max-width:544px) {
        font-size: 2rem;
        }
    }
   
}

.blog_hero_news_item_r{
    text-align: right;
    margin-right: 10px;
    z-index: 2000;
    img{
        height: 400px;
        object-fit: contain;
        border-radius: 10px;
        @media screen and (max-width:1401px) {
            width: 85%;
        }

        @media screen and (max-width:969px) {
            width: 100%;
        }

        @media screen and (max-width:544px) {
            height: 100%;
        }
     }

     @media screen and (max-width:969px) {
        text-align: right;
        margin-right: 10px;
    }

    @media screen and (max-width:544px) {
        text-align: center;
        margin-right: 0px;
    }
   
}



.posted_wrapper{
    display: grid;
    grid-template-columns:  1fr auto;
      
    @media screen and(max-width:969px) {
        grid-template-columns:  1fr;
    }
}


#posted{
color: $mainAccientColor;
background-image: url('../assets/images/wawe_middle.svg');
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
padding: 120px 0px;


.posted_r{
min-width: 350px;
@media screen and(max-width:969px) {
        
    min-width: 100%;
}
}

h4{
    font-size: 1.2rem;
}

ul{
    list-style: none;
    color: black;
    font-size: 15px;
   
    li{
        padding: 10px 0px;
        border-bottom: 1px dashed #D1E7E5;

        span{
            float: right;
            color: $mainAccientColor;
            font-weight: 500;
        }
    }

}

@media screen and(max-width:544px) {
        
   padding-top: 0px;
}

}


.posted_l{
    
    @media screen and(max-width:969px) {
        
        order: 1;
        h4{
            margin-top: 50px;
            font-size: 3rem;
            text-align: center;
        }
    }
}


.posted_heading{
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 50px;
}


.posted_updates{
    margin-top: 3.3333rem;
    @media screen and(max-width:969px) {
       display: none;
    }
}


.posted_updates_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 1rem;
    row-gap: 1rem;
}


.posted_updates_item{
    padding: 24px 24px;
    background-color: #EDEEF2;
    border-radius: 10px;
}

.posted_updates_item_value{
    font-weight: 500;
    font-size: 1.2rem;
}

.posted_updates_item_title{
    font-size: 15px;
    color: black;
    margin-top: 10px;
}


.news_wrapper{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex: 1 1 auto;
    gap: 1.5417rem;
    margin-top: 50px;
    @media screen and(max-width:969px) {
       justify-content: center;
    }
}


.news_item{
    max-width: 46%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.06);
    
    @media screen and(max-width:969px) {
        max-width:80%;
    }
    
    @media screen and(max-width:544px) {
        max-width:100%;
    }
}

.news_item_image{
   
    img{
        width: 100%;
        text-align: center;
        object-fit: cover;
    }

}

.news_category{
    display: inline-block;
    font-size: 12px;
    color:#666666 ;
    padding: 4px 8px;
    background: rgba(24, 32, 86, 0.08);
    margin-bottom: 10px;
    border-radius: 3px;
}

.news_data{
    margin: 1rem 1rem;
    h3{
        font-size: 1.125rem;
        line-height: 140%;
    }
    p{
        font-size: 15px;
        color: #555555;
        margin-top: 20px;
        @media screen and(max-width:544px){
            font-size: 1.4rem;
        }
    }
    a{
        color: $mainAccientColor;
        font-size: 1.125rem;
        font-weight: 500;
        display: block;
        line-height: 140%;
        @media screen and(max-width:544px){
            font-size: 2rem;
        }
    }
}

.news_author{
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    color: #777777;
    margin-top: 27px;
    img{
        border-radius: 100px;
        width: 24px;
        height: 24px;
    }
    span{
        margin-left: 10px;
    }
    i{
        display: block;
        font-style: normal;
        &::before{
            display: inline-block;
            margin-right: 5px;
            margin-left: 10px;
            content: '';
            width: 12px;
            height: 12px;
            background-image: url('../assets/images/calendar_gray.svg');
            background-repeat: no-repeat;
            background-position: center;
            fill: red;
        }
    
    }

    @media screen and (max-width:1281px) {
        font-size: 0.9rem;
    }

    @media screen and (max-width:544px) {
        font-size: 1.2rem;
    }
}


.pagination_wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    margin-top: 70px;
}


.pag_page_button{
    padding: 13px 16px;
    border: 1px solid #C4C4C4 ;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    color:#666666 ;

    img{
       text-align: center;
       vertical-align: middle;
    }
}

.pag_active{
    color: white;
    background-color: $mainAccientColor;
}


.pagination_tab{
    position: absolute;
    bottom: -70px;
    left: 50%;
    a{
        color: #666666;
        border: 1px solid #C4C4C4;
        padding: 0.5417rem 0.6667rem;
        border-radius: 3px;
        margin-left: 5px;
        margin-right: 10px;
    }
    strong{
        border: 1px solid #C4C4C4;
        padding: 0.5417rem 0.6667rem;
        border-radius: 3px;
        margin-left: 10px;
        margin-right: 10px;
    }

    @media screen and (max-width: 969px) {
        left: initial;
    }
}
   