#footer {
    position: relative;
    max-width: 100%;
    color: white;
    background-color: #192159;
    padding-top: 10.8333rem;
    padding-bottom: 3.3333rem;
    background-image: url('../assets/images/wave2.webp');
    background-size: 100%;
    background-position-y:-0.4167rem;
    background-repeat: no-repeat;

    h2{
        text-align: center;
    }
}




.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotterl{
 font-size: 0.5833rem;   
 font-weight: 300;
}


.fotterr{
    display: flex;
    justify-content: space-around;
}

.footer_nav{
    font-weight: 500;
    font-size: 14px;
    list-style: none;
    display: block;
    opacity: 0.8;
    margin-left: 100px;
    li{
        padding: 0.3333rem;
    }

    a{
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
    }
}

.footer_nav li:nth-child(1){
    font-size: 0.75rem;
}

.footer_icons{
    margin-left: 1.0833rem;
}

.copy{
    margin-top: 0.4167rem;
}

.footer_social{
    font-weight: 500;
    font-size: 0.75rem;
    list-style: none;
    display: block;
    opacity: 0.8;
    margin-left: 4.1667rem;
    li{
        padding: 0.3333rem;
    }
}