$mainAccientColor: #1D2265;

#hero{
    position: relative;
    max-width: 100%;
    color: white;
    background-color: #192159;
    //background: linear-gradient(#192159, #1C2465);
    padding-bottom: 250px;
    background-image: url('../assets/images/wawes.webp');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}


.header{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #202A60;
}

nav{
    z-index: 2000;
    ul{
        display: flex; 
        list-style: none;
        gap: 48px;
    }


    @keyframes fadeIn {
        0% {width:0px;}
        100% {width: 100%;}
      }

    a{
        position: relative;
        font-weight: 400;
        line-height: 20px;
        font-size: .6rem;
        color: white;
        text-decoration: none;
        &:hover::before{
            content: '';
            display: block;
            position: absolute;
            bottom:-0.75rem;
            width: 100%;
            height: 1px;
            background-color:white;
            border-radius: 10px;
            animation: fadeIn .8s;
           
            
        }
    }

    

}


#humb{
    position: relative;
    display: none;
}

#humb img{
width: 24px;
height: 24px;
z-index: 2001;
cursor: pointer;
}


.humb_menu{
display: none;
z-index: 2000;
min-width: 100px;
background-color: #fff;
position: absolute;
border-radius: 5px;
top: 40px;
right: 0px;
padding: 20px 40px;
ul{
    text-align: right;
    list-style: none;
    white-space: nowrap;
  
    li{
        margin: 25px 0px;
        
    }
}
a{
    display: block;
    text-decoration: none;
    color: $mainAccientColor;
    font-size:.6rem;
    
    font-weight: 400;
}

}



.hero_wrapper{
display: flex;
margin-top: 100px;
justify-content: space-between;
align-items: center;
}

.hero_title{
    width:950px;
    p{
        margin-top: 30px;
        width: 860px;
    }
    button{
        margin-top: 100px;
        margin-bottom: 80px;
    }
}


.hero_image{
    text-align: right;
}

.white_button{
    display: block;
    position: relative;
    box-sizing: border-box;
    border: none;
    background-color: white;
    font-size: 1rem;
    color: $mainAccientColor;
    font-weight: 500;
    border-radius: 33px;
    padding: 15px 35px;
    img{
        margin-left: 10px;
        vertical-align: middle;
        width: 26px;
        height: 26px;
    }
}

.bt_hidden{
    display: none;
}


.wawes{
    position: absolute;   
    z-index: 2000;
    width: 100%;
    height: 300px;
    bottom: 0px;
   
}


#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 10% 50%; 
    z-index: 1000;
    top: 0px;
    opacity: 0.3;
} 


