$mainAccientColor: #1D2265;

#hero{
    position: relative;
    max-width: 100%;
    color: white;
    background-color: #192159;
    //background: linear-gradient(#192159, #1C2465);
    padding-bottom: 10.4167rem;
    background-image: url('../assets/images/wawes.webp');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}


.header{
    padding: 0.8333rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #202A60;
}

.logo img{
width: 90px;
height: 30px;
}

nav{
    z-index: 2000;
    ul{
        display: flex; 
        list-style: none;
        gap: 2rem;
    }


    @keyframes fadeIn {
        0% {width:0px;}
        100% {width: 100%;}
      }

    a{
        position: relative;
        font-weight: 400;
        line-height: 0.8333rem;
        font-size:14px;
        color: white;
        text-decoration: none;
        &:hover::before{
            content: '';
            display: block;
            position: absolute;
            bottom:-0.75rem;
            width: 100%;
            height: 1px;
            background-color:white;
            border-radius: 10px;
            animation: fadeIn .8s;
           
            
        }
    }

    

}


#humb{
    position: relative;
    display: none;
    z-index: 2001;
}

#humb img{
width: 24px;
height: 24px;
z-index: 2001;
cursor: pointer;
}


.humb_menu{
display: none;
z-index: 2000;
min-width: 4.1667rem;
background-color: #fff;
position: absolute;
border-radius: 0.2083rem;
top: 1.6667rem;
right: 0px;
padding: 0.8333rem 1.6667rem;
ul{
    text-align: right;
    list-style: none;
    white-space: nowrap;
  
    li{
        margin: 1.0417rem 0px;
        
    }
}
a{
    display: block;
    text-decoration: none;
    color: $mainAccientColor;
    font-size:.6rem;
    
    font-weight: 400;
}

}



.hero_wrapper{
display: flex;
margin-top: 4.1667rem;
justify-content: space-between;
align-items: center;
}

.hero_title{
    z-index: 2000;
    width:39.5833rem;
    p{
        margin-top: 1.25rem;
        width: 35.8333rem;
    }
    button{
        margin-top: 4.1667rem;
        margin-bottom: 3.3333rem;
    }
}


.hero_image{
    text-align: right;
    object{
        width: 98%;
    }

    img{
        width: 98%;
    }
}

.white_button{
    display: block;
    position: relative;
    box-sizing: border-box;
    border: none;
    background-color: #363B76;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    border-radius: 33px;
    padding: 0.8rem 1.6rem;
    img{
        margin-left: 10px;
        vertical-align: middle;
        width: 1.3rem !important;
        height: 1.3rem;
    }
    &:hover{
        img{
            margin-left: 0.8rem;
            transition: margin-left .6s;
        }
    }
}



.wawes{
    position: absolute;   
    z-index: 2000;
    width: 100%;
    height: 12.5rem;
    bottom: 0px;
   
}


#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 10% 50%; 
    z-index: 1000;
    top: 0px;
    opacity: 0.3;
} 


/*-----------------------------  smart place---------------------*/
.sub_heading{
display: block;
font-weight: 400;
font-size: 1.3rem;
line-height: 125%;
letter-spacing: -0.02em;
}


.smartplace_page_hero_ul{
margin-left: 0.8333rem;
margin-top: 2.25rem;
font-weight: 400;
font-size: 0.9rem;
line-height: 230%;
text-align: left;
}


.smartplace_page_hero_p{
font-size: 0.9rem;
font-weight: 400;
line-height: 1.25rem;
letter-spacing: -0.02em;
text-align: left;
line-height: 230%;
max-width: 37.1667rem !important;
}

.smr_p_fix{
    max-width: 24.1667rem !important;
}

/*-----------------------------  smart place---------------------*/