#about_missions{
    p{
        font-size: 1.2rem;
    }
}


.how_hero_wrapper{
    display: flex;
    margin-top: 4.1667rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    
.how_hero_title{
        text-align: center;
        p{
            font-size: 1.2rem;
            margin-top: 1.4167rem;
            margin-bottom:1.4167rem;
        }
        button{
            margin-top: 4.1667rem;
            margin-bottom: 3.3333rem;
        }
    }
    
    
.how_hero_image{
        position: relative;
        text-align: center;
        z-index: 2000;
        img{
            width: 98%;
        }
        iframe{
            position: absolute;
            right: 13.3%;
            bottom: 11%;
            width: 72%;
            height: 87%;
        }
    }


.quest_wrapper{
        display: flex;
        color: $mainAccientColor;
    }


.quest_tab_item{
        position: relative;
        list-style: none;
       width: 80%;
       padding: 0.8333rem 1.6667rem ;
        background-color: white;
        margin-left:4.1667rem ;
        margin-bottom: 0.8333rem;
        border:1px solid #E3E4EA;
        border-radius: 10px;
        box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
        summary{
            font-weight: 500;
            font-size: 24px;
            width: 80%;
            display: inline;
        }

        p{
            margin-top: 0.625rem;
            font-size: 1rem;
            line-height: 234%;
        }
      
        details summary { 
            cursor: pointer;
            box-sizing: border-box;
          }
          
          details summary > * {
            display: inline;
          }

        details[open] .quest_tab_item::before{
           display: none;
        }

    
    }

#quest{
    padding-bottom: 4.1667rem;
}


.quest_tab_control{
    position: absolute;
    right: 20px;
    content: '';
    display: block;
    background-image: url('../assets/images/closed_tab_icon.svg');
    background-position: center;
    width: 28px;
    height: 28px;
}
   

   
   

    details summary::-webkit-details-marker {
        display: none
      }
      /* Убираем стандартный маркер Firefox */
      details > summary {
        list-style: none;
      }



      .quest_r{
        flex-grow: 1;
      }


      .quest_tabs{
        a{
            position: relative;
            display: block;
            border: 1px solid #E3E4EA;
            box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
            padding: 0.9583rem 13.5417rem 0.9583rem 1.125rem;
            border-radius: 10px;
            margin-top: 0.3333rem;
            font-size: 1.5rem;
            color: $mainAccientColor;
            &::before{
                position: absolute;
                right: 27px;
                top: 36%;
                bottom: -50%;
                content: '';
                width: 10px;
                height: 14px;
                background-image: url('../assets/images/arrow_tab_gray.svg');
                background-repeat: no-repeat;
            }
        }
      }

      .active_tab{
        border: 1px solid #1C2264 !important ;
        font-weight: 500;
        &::before{
            background-image: url('../assets/images//arrow_tab.svg') !important;
        }
      }


      .quest_tab_data{
        display: none;
      }

      .tab_data_active{
        display: block;
      }