#about_missions{
    p{
        font-size: 1.2rem;
    }
}


.how_hero_wrapper{
    display: flex;
    margin-top: 4.1667rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    
.how_hero_title{
        text-align: center;
        p{
            font-size: 1.2rem;
            margin-top: 1.4167rem;
            margin-bottom:1.4167rem;
        }
        button{
            margin-top: 4.1667rem;
            margin-bottom: 3.3333rem;
        }
    }
    
    
.how_hero_image{
        position: relative;
        text-align: center;
        z-index: 2000;
        img{
            width: 98%;
        }
        iframe{
            position: absolute;
            right: 13.3%;
            bottom: 11%;
            width: 72%;
            height: 87%;
        }
    }


.quest_wrapper{
        display: flex;
        color: $mainAccientColor;
        @media screen and(max-width:969px) {
            flex-direction: column;
            flex-wrap: wrap;
        }
    }


.quest_tab_item{
        position: relative;
        list-style: none;
        background-color: white;
        margin-left:50px;
        margin-bottom: 1.4583rem;
       
        border-radius: 10px;
        summary{
            padding-bottom: 20px;
            font-weight: 500;
            font-size: 1rem;
            width: 100%;
            display: inline;
            border-bottom:1px solid #E3E4EA;
            @media screen and(max-width:544px) {
                font-size: 1.2rem;
            }
        }

        p{
            margin-top: 0.625rem;
            font-size: 1rem;
            line-height: 234%;
            @media screen and(max-width:544px) {
                font-size: 1.2rem;
            }
        }
      
        details summary { 
            cursor: pointer;
            box-sizing: border-box;
          }
          
          details summary > * {
            display: inline;
          }

          @media screen and(max-width:969px) {
            margin-left: 0px;
        }

    
    }

#quest{
    padding-bottom: 4.1667rem;
}

details summary::-webkit-details-marker {
        display: none
}
    
details > summary {
list-style: none;
}

summary::after {
    position: absolute;
    content: '';
    background-image: url('../assets/images/tab_button.svg');
    background-repeat: no-repeat;
    object-fit: cover;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    width: 37px;
    height: 37px;
}

details[open] summary::after {
    transform: rotate(-90deg)
}





.quest_r{
flex-grow: 1;
@media screen and(max-width:969px) {
    order: 2;
 }
}

.quest_l{
    @media screen and(max-width:969px) {
        display: none;
    }
}

.quest_mobile{
    display: none;
    text-align: center;
    @media screen and(max-width:969px) {
        display: block;
       order: 1;
    }
}


.quest_tabs{
    white-space: nowrap;
        a{
            position: relative;
            display: block;
            border: 1px solid #E3E4EA;
            box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
            padding: 0.9583rem 13.5417rem 0.9583rem 1.125rem;
            border-radius: 10px;
            margin-top: 0.3333rem;
            font-size: 1rem;
            color: $mainAccientColor;
            &::before{
                position: absolute;
                right: 27px;
                top: 36%;
                bottom: -50%;
                content: '';
                width: 10px;
                height: 14px;
                background-image: url('../assets/images/arrow_tab_gray.svg');
                background-repeat: no-repeat;
            }

            &:first-child{
                margin-top: 0px;
            }
           
        }

}

          .active_tab {
              border: 1px solid #1C2264 !important;
              font-weight: 500;
    
              &::before {
                  background-image: url('../assets/images//arrow_tab.svg') !important;
              }
          }


      .quest_tab_data{
        display: none;
      }

      .tab_data_active{
        display: block;
      }



      /*quest_dropdown*/

      .quest_dropdown{
        display: block;
        text-align: left;
        border: 1px solid #E3E4EA;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 15px 226px 15px 24px;
        margin-bottom: 50px;

        &::before {
            position: absolute;
            display: block;
            content: '';
            top: 39%;
            right: 15px;
            background-image: url('../assets/images/tab_arrow_down.svg');
            background-repeat: no-repeat;
            background-position: center;
            object-fit: contain;
            width: 10px;
            height: 10px;

        }
      }


      .dropdown_wrapper{
        position: relative;
        text-align: left;
      }

      .quest_dropdown_menu{
        position: absolute;
        display: block;
        z-index: 10;
        left: 0;
        margin-top: 20px;
        background-color: white;
        border: 1px solid #E3E4EA;
        border-radius: 10px;
        width: 96.5%;
        left: 50%;
        top: 70%;
        transform: translateX(-50%);
        padding-left: 24px;
        padding-top: 15px;
        padding-bottom: 15px;
        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 20px;
            font-size: 1.2rem;
            font-weight: 400;
        }
      }

      .drop_hidden{
        display: none;
      }



      /*DROPDOWN*/