.how_hero_wrapper{
    display: flex;
    margin-top: 4.1667rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    
    .how_hero_title{
        text-align: center;
        width:39.5833rem;
        p{
            font-size: 1rem;
            margin-top: 1.4167rem;
            margin-bottom:1.4167rem;
        }
        button{
            margin-top: 4.1667rem;
            margin-bottom: 3.3333rem;
        }
    }
    
    
    .how_hero_image{
        position: relative;
        text-align: center;
        z-index: 7000;
        img{
            width: 98%;
        }
        iframe{
                position: absolute;

                right: 109px;
                bottom: 50px;
                width: 72%;
            
        }
    }