#instant{
    padding: 4.1667rem 0px;
    color: $mainAccientColor;
}

.instant_wrapper{
display: flex;
justify-content: center;

p{
    font-weight: 400;
    max-width: 890px;
    @media screen and (min-width: 969px) {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:969px) {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

}

.instant_l{
div:not(:first-child){
    margin-top: 2.9167rem;
}
h4{
    margin-bottom: 0.8333rem;
}

@media  screen and(max-width:969px) {
    text-align: center;
    margin-top: 1.25rem;
}
}

.instant_r{
    text-align: right;
    
    img{
        width: 90%;
    }
}

.instant_contract_l{
    h3{
        font-size: 2rem;
        font-weight: 500;
        color: $mainAccientColor;
    }

    p{
        max-width: 33.4167rem;
        margin-top: 1.25rem;
    }

    button{
       margin-top: 2rem;
    }

    img{
    width: 70%;
    }
}

.instant_contract_wrapper{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1.875rem 3.3333rem 1.8rem 3.3333rem;
    background-color: #F8F9FB;
    border-radius: 35px;
    color: $mainAccientColor;
    background-image: url('../assets/images/iphone12.svg');
    background-repeat: no-repeat;
    background-position:  bottom 0px right 0px;
    background-size: contain;
    @media  screen and(max-width:969px) {
    background-image: none;

    }
}

.instant_image{
    text-align: right;
    object{
        width: 98%;
    }

    img{
        width: 98%;
    }
    @media screen and(max-width:969px) {
        text-align: center;
       }
}

.hidden_block{
    display: none;
}


.instant_page_hero_ul{
font-size: 1rem;
font-weight: 400;
line-height: 1.25rem;
letter-spacing: -0.02em;
text-align: left;
line-height: 230%;
margin-top: 1.25rem;
max-width: 37.1667rem !important;
@media screen and(max-width:969px) {
    display: block;
 max-width: 100%;
 font-size: 1.2rem;
 margin: 35px auto;
}
}


.instant_sub_heading{
    display: block;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 125%;
    letter-spacing: -0.02em;
    @media screen and(max-width:969px) {
     margin-bottom:1.25rem;
    }
}