.news_full_data{

article{
    font-size: 27px;
    font-weight: 500;
}

a{
    display: block;
    color: $mainAccientColor;
    font-size: 1rem;
    font-weight: 500;
}

p{
    color: #555555;
    font-size: 15px;
}

}

