#smartplace{
    position: relative;
    color:$mainAccientColor;

}


.smartplace_wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}


.wawe_top{
    position: relative;
    top: 8px;
}


.wawe_top img{
    width: 100%;
    height: 100%;
}

.wawe_bottom{
    position: relative;
    img{
        width: 100%;
        height: 100%;
        transform: rotate(180deg);
    }
}

.smart_mobile{
    display: none;

    h2{
        text-align: center;
        margin: 0px;
        font-size: 1.16rem;
    }

    p{
            font-size: 0.75rem;
            text-align: center;
            width: 326px;
            display: block;
            margin: 15px auto;
    }

    .smart_moblie_image{
        text-align: center;
        img{
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }

    .blue_button{
        margin: 45px auto;
    }

    .p_title{
        display: block;
        font-size: 0.66rem;
        margin: 39px auto;
        text-align: center;
    }
}

.smartl{
    p{
        max-width: 880px;
        margin-bottom: 38px;
    }

    h2{
    margin-top: 0px;
    }

    ul{
        list-style: none;
     
    li{
    padding:24px 0px ;
    }
    }
    .blue_button{
        margin-top: 60px;
    }

}

.smart_button {
    display: block;
    background-color: white;
    color: $mainAccientColor;
    border: 1px solid #E3E4EA;
    border-radius: 10px;
    text-align: left;
    font-size: 1rem;
    padding: 11px 140px 11px 19px;
    width: 500px;
    background-image: url('../assets/images/arrow-small.svg');
    background-position: right 10px center;
    background-repeat: no-repeat;
    margin: 10px 0px;

}

.smart_button_active{
    background-color: $mainAccientColor;
    color: white;
}


.slide_title{
    text-align: center;
    font-size: 1rem;
    margin-top: 23px;
}


.swiper_lg{
    width: 848px;
    height: 639px;
    overflow: hidden;
}



.smartr{
    text-align: right;
    img{
        width: 95%;
        filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08));
    }
}

.slider_blue{
    text-align: center;
    margin-top: 24px;
   
    .swiper-pagination-bullet{
        width: 16px;
        height: 4px;
        border-radius:10px;
        background-color: $mainAccientColor;
        opacity: 0.3;
        }
    
        .swiper-pagination-bullet-active{
            background-color: $mainAccientColor;
            width: 36px;
            opacity: 1;
    
        }
}

.slider_moblie_tabs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    .pre_slide{
        transform: scaleX(-1);
    }
}

.slide_title_small{
    font-size: .6rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #E3E4EA;
    padding: 15px 70px;

}

.slider_pagination .swiper-pagination{
    position:initial;
    margin-top: 27px;

    .swiper-pagination-bullet{
    width: 16px;
    height: 4px;
    border-radius:10px;
    background-color: $mainAccientColor;
    opacity: 0.3;
    }

    .swiper-pagination-bullet-active{
        background-color: $mainAccientColor;
        width: 36px;
        opacity: 1;

    }
}