#smartplace{
    position: relative;
    color:$mainAccientColor;

}


.smartplace_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}


.wawe_top{
    position: relative;
    top: 8px;
}


.wawe_top img{
    width: 100%;
    height: 100%;
}

.wawe_bottom{
    position: relative;
    img{
        width: 100%;
        height: 100%;
        transform: rotate(180deg);
    }
}

.smartl{
    p{
        font-size: 1.3em;
        max-width: 801px;
        margin-bottom: 38px;
        line-height: 50px;
    }
    ul{
        list-style: none;
     
    li{
    padding:24px 0px ;
    }
    }
    .blue_button{
        margin-top: 73px;
    }

}

.smart_button {
    display: block;
    background-color: white;
    color: $mainAccientColor;
    border: 1px solid #E3E4EA;
    border-radius: 10px;
    text-align: left;
    font-size: .8em;
    padding: 11px 140px 11px 19px;
    width: 355px;
    background-image: url('../assets/images/arrow-small.svg');
    background-position: right 10px center;
    background-repeat: no-repeat;
    margin: 24px 0px;

}

.slide_title{
    text-align: center;
    font-size: 1em;
    margin-top: 23px;
}



.smartr{
    text-align: right;
    img{
        width: 95%;
        filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08));
    }
}

.slider_blue{
    text-align: center;
    margin-top: 24px;
    img{
        width: 149px;
    }

}