#tokenization{
    position: relative;
    color: #202A60;
    padding-bottom: 4.1667rem;
}

.tokenization_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tokl{
    p{
        max-width: 33.3333rem;
        //line-height: 50px;
    }
    ul{
    font-size: 1rem;
    font-weight: 300;
    max-width: 32.25rem;
    margin-top: 1.6667rem;
    padding:0px 0.9583rem;
    li{
        padding: 0.2083rem 0.625rem;
        line-height: 125%;
    }
    }


    button{
        margin-top: 3.3333rem;
    }
}


.tokr{
    position: relative;
    text-align: right;
img{
    width: 90%;
}
}

.prlx-down {
    position: absolute;
    opacity: 0;
    top: 0;
}


@keyframes wipe-in-down {
    from {
      clip-path: inset(0 0 100% 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:down"] {
    --transition__duration: 10s;
    animation: 5.0s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
  }



  @keyframes wipe-in-up {
    from {
      clip-path: inset(100% 0 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:up"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
  }


.blue_button{
    display: block;
    position: relative;
    box-sizing: border-box;
    border: none;
    background-color: #202A60;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    border-radius: 1.375rem;
    padding: 0.8rem 1.6rem;
    img{
        margin-left: 0.4167rem;
        vertical-align: middle;
        width: 1.0833rem !important;
        height: 1.0833rem;
    }
    &:hover{
      background-color: #3848a3;
      img{
        margin-left: 0.8rem;
        transition: margin-left .6s;
      }
    }
}

.bt_hidden{
  display: none;
  margin: 0 auto;
}


.slide_hide{
    display: none;
    width: 95%;
}