#tokenization{
    position: relative;
    color: #202A60;
    padding-bottom: 100px;
}

.tokenization_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tokl{
    p{
        max-width: 800px;
        line-height: 50px;
    }
    ul{
    font-size: 1rem;
    font-weight: 300;
    max-width: 774px;
    margin-top: 40px;
    padding:0px 23px;
    li{
        padding: 5px 15px;
        line-height: 125%;
    }
    }


    button{
        margin-top: 80px;
    }
}


.tokr{
text-align: right;
img{
    width: 95%;
}
}


.blue_button{
    display: block;
    position: relative;
    box-sizing: border-box;
    border: none;
    background-color: #202A60;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    border-radius: 33px;
    padding: 15px 35px;
    img{
        margin-left: 10px;
        vertical-align: middle;
        width: 26px;
        height: 26px;
    }
}

.slide_hide{
    display: none;
    width: 95%;
}