#vault{
    color:$mainAccientColor;
    padding: 3.3333rem 0px;
}

.vault_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.vaultl{
    button{
        margin-top: 3.9583rem;
    }

    h2 img{
        vertical-align: middle;
        width: 32px;
        height: 32px;
    }
}


.vaultr{
    text-align: right;
object{
    width: 90%;
}
}


.items-gird{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 3.3333rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 3.3333rem;
    grid-column-gap: 4.1667rem;
}

.gird-item{
    img{
        vertical-align: middle;
        margin-right: 1.1667rem;
    }
}



/*smr_vault*/

.smr_items_grid{
    text-align: center;
    grid-template-columns: 1fr 1fr;
}

.smr_vault_wrapper{
    justify-content: center;
}

.smr_vault{
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
}
.smr_vault_item_wrapeer {
    display: inline-table;
    vertical-align: super;
    text-align: left;
}
.smr_vault_heading{
    display: block;
    font-size: 1rem;
    font-weight: 500;
}
.smr_vault_text {
    display: block;
    margin-top: 0.2083rem;
    font-size: 1rem;
    max-width: 20.8333rem;
}
/*smr_vault*/