#vault{
    color:$mainAccientColor;
    padding: 80px 0px;
}

.vault_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.vaultl{
    button{
        margin-top: 95px;
    }

    h2 img{
        vertical-align: middle;
    }
}


.vaultr{
    text-align: right;
object{
    width: 90%;
}
}


.items-gird{
    font-weight: 400;
    font-size: 1em;
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 80px;
    grid-column-gap: 100px;
}

.gird-item{
    img{
        vertical-align: middle;
        margin-right: 28px;
    }
}