#vault{
    color:$mainAccientColor;
    padding: 3.3333rem 0px;
}

.vault_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.vaultl{
    button{
        margin-top: 3.9583rem;
    }

    h2 img{
        vertical-align: middle;
    }
}


.vaultr{
    text-align: right;
object{
    width: 90%;
}
}


.items-gird{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 3.3333rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 3.3333rem;
    grid-column-gap: 4.1667rem;
}

.gird-item{
    img{
        vertical-align: middle;
        margin-right: 1.1667rem;
    }
}



