@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Bold.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
#hero {
  position: relative;
  max-width: 100%;
  color: white;
  background-color: #192159;
  padding-bottom: 250px;
  background-image: url("../assets/images/wawes.webp");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.header {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #202A60;
}

nav {
  z-index: 2000;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 48px;
}
@-webkit-keyframes fadeIn {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeIn {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
nav a {
  position: relative;
  font-weight: 400;
  line-height: 20px;
  font-size: 0.6rem;
  color: white;
  text-decoration: none;
}
nav a:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.75rem;
  width: 100%;
  height: 1px;
  background-color: white;
  border-radius: 10px;
  -webkit-animation: fadeIn 0.8s;
          animation: fadeIn 0.8s;
}

#humb {
  position: relative;
  display: none;
}

#humb img {
  width: 24px;
  height: 24px;
  z-index: 2001;
  cursor: pointer;
}

.humb_menu {
  display: none;
  z-index: 2000;
  min-width: 100px;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
  top: 40px;
  right: 0px;
  padding: 20px 40px;
}
.humb_menu ul {
  text-align: right;
  list-style: none;
  white-space: nowrap;
}
.humb_menu ul li {
  margin: 25px 0px;
}
.humb_menu a {
  display: block;
  text-decoration: none;
  color: #1D2265;
  font-size: 0.6rem;
  font-weight: 400;
}

.hero_wrapper {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
}

.hero_title {
  width: 950px;
}
.hero_title p {
  margin-top: 30px;
  width: 860px;
}
.hero_title button {
  margin-top: 100px;
  margin-bottom: 80px;
}

.hero_image {
  text-align: right;
}
.hero_image img {
  width: 100%;
}

.white_button {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: none;
  background-color: white;
  font-size: 1rem;
  color: #1D2265;
  font-weight: 500;
  border-radius: 33px;
  padding: 15px 35px;
}
.white_button img {
  margin-left: 10px;
  vertical-align: middle;
  width: 26px;
  height: 26px;
}

.bt_hidden {
  display: none;
}

.wawes {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 300px;
  bottom: 0px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 50%;
  z-index: 1000;
  top: 0px;
  opacity: 0.3;
}

/*-----------------------------  smart place---------------------*/
.sub_heading {
  display: block;
  font-weight: 500;
  font-size: 46px;
  line-height: 125%;
  letter-spacing: -0.02em;
}

.smartplace_page_hero_ul {
  margin-left: 20px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
}

.smartplace_page_hero_p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}

.smartplace_page_hero_p {
  max-width: 580px !important;
}

/*-----------------------------  smart place---------------------*/
#tokenization {
  position: relative;
  color: #202A60;
  padding-bottom: 100px;
}

.tokenization_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tokl p {
  max-width: 800px;
  line-height: 50px;
}
.tokl ul {
  font-size: 1rem;
  font-weight: 300;
  max-width: 774px;
  margin-top: 40px;
  padding: 0px 23px;
}
.tokl ul li {
  padding: 5px 15px;
  line-height: 125%;
}
.tokl button {
  margin-top: 80px;
}

.tokr {
  position: relative;
  text-align: right;
}
.tokr img {
  width: 95%;
}

.prlx-down {
  position: absolute;
  opacity: 0;
  top: 0;
}

@-webkit-keyframes wipe-in-down {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes wipe-in-down {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
[transition-style="in:wipe:down"] {
  --transition__duration: 10s;
  -webkit-animation: 5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-down both;
          animation: 5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-down both;
}

@-webkit-keyframes wipe-in-up {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes wipe-in-up {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
[transition-style="in:wipe:up"] {
  -webkit-animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-up both;
          animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-up both;
}

.blue_button {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: none;
  background-color: #202A60;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  border-radius: 33px;
  padding: 15px 35px;
}
.blue_button img {
  margin-left: 10px;
  vertical-align: middle;
  width: 26px;
  height: 26px;
}

.slide_hide {
  display: none;
  width: 95%;
}

#smartplace {
  position: relative;
  color: #1D2265;
}

.smartplace_wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.wawe_top {
  position: relative;
  top: 8px;
}

.wawe_top img {
  width: 100%;
  height: 100%;
}

.wawe_bottom {
  position: relative;
}
.wawe_bottom img {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.smart_mobile {
  display: none;
}
.smart_mobile h2 {
  text-align: center;
  margin: 0px;
  font-size: 1.16rem;
}
.smart_mobile p {
  font-size: 0.75rem;
  text-align: center;
  width: 326px;
  display: block;
  margin: 15px auto;
}
.smart_mobile .smart_moblie_image {
  text-align: center;
}
.smart_mobile .smart_moblie_image img {
  width: 100%;
  height: 100%;
  text-align: center;
}
.smart_mobile .blue_button {
  margin: 45px auto;
}
.smart_mobile .p_title {
  display: block;
  font-size: 0.66rem;
  margin: 39px auto;
  text-align: center;
}

.smartl p {
  max-width: 880px;
  margin-bottom: 38px;
}
.smartl h2 {
  margin-top: 0px;
}
.smartl ul {
  list-style: none;
}
.smartl ul li {
  padding: 24px 0px;
}
.smartl .blue_button {
  margin-top: 60px;
}

.smart_button {
  display: block;
  background-color: white;
  color: #1D2265;
  border: 1px solid #E3E4EA;
  border-radius: 10px;
  text-align: left;
  font-size: 1rem;
  padding: 11px 140px 11px 19px;
  width: 500px;
  background-image: url("../assets/images/arrow-small.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  margin: 10px 0px;
}

.smart_button_active {
  background-color: #1D2265;
  color: white;
}

.slide_title {
  text-align: center;
  font-size: 1rem;
  margin-top: 23px;
}

.swiper_lg {
  width: 848px;
  height: 639px;
  overflow: hidden;
}

.smartr {
  text-align: right;
}
.smartr img {
  width: 95%;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08));
}

.slider_blue {
  text-align: center;
  margin-top: 24px;
}
.slider_blue .swiper-pagination-bullet {
  width: 16px;
  height: 4px;
  border-radius: 10px;
  background-color: #1D2265;
  opacity: 0.3;
}
.slider_blue .swiper-pagination-bullet-active {
  background-color: #1D2265;
  width: 36px;
  opacity: 1;
}

.slider_moblie_tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
}
.slider_moblie_tabs .pre_slide {
  transform: scaleX(-1);
}

.slide_title_small {
  font-size: 0.6rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #E3E4EA;
  padding: 15px 70px;
}

.slider_pagination .swiper-pagination {
  position: initial;
  margin-top: 27px;
}
.slider_pagination .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 4px;
  border-radius: 10px;
  background-color: #1D2265;
  opacity: 0.3;
}
.slider_pagination .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1D2265;
  width: 36px;
  opacity: 1;
}

#vault {
  color: #1D2265;
  padding: 80px 0px;
}

.vault_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vaultl button {
  margin-top: 95px;
}
.vaultl h2 img {
  vertical-align: middle;
}

.vaultr {
  text-align: right;
}
.vaultr object {
  width: 90%;
}

.items-gird {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 80px;
  grid-column-gap: 100px;
}

.gird-item img {
  vertical-align: middle;
  margin-right: 28px;
}

#blog {
  position: relative;
  background-image: url("../assets/images/blog_wawe.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  padding: 200px 0px;
  color: #1D2265;
}

.blog_wrapper h2 {
  text-align: center;
}

.post_container {
  width: 70%;
  margin: 0 auto;
}

.post_item {
  display: flex;
  background-color: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 40px;
  margin-top: 42px;
}

.post_image {
  transform: translatex(-80px);
}
.post_image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  border-radius: 10px;
}

.post__date {
  color: #BABABA;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.post__title p {
  font-size: 0.83rem;
  font-weight: 300;
  line-height: 175%;
  padding: 25px 0px 60px 0px;
}

.link_button {
  text-decoration: none;
  background-color: #1D2265;
  border: none;
  border-radius: 10px;
  padding: 12px 34px;
  color: white;
  font-size: 0.83rem;
  font-weight: 500;
}

#footer {
  position: relative;
  max-width: 100%;
  color: white;
  background-color: #192159;
  padding-top: 260px;
  padding-bottom: 80px;
  background-image: url("../assets/images/wave2.webp");
  background-size: 100%;
  background-position-y: -10px;
  background-repeat: no-repeat;
}
#footer h2 {
  text-align: center;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fotterl {
  font-size: 14px;
  font-weight: 300;
}

.fotterr {
  display: flex;
  justify-content: space-around;
}

.footer_nav {
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  display: block;
  opacity: 0.8;
  margin-left: 100px;
}
.footer_nav li {
  padding: 8px;
}
.footer_nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.footer_nav li:nth-child(1) {
  font-size: 18px;
}

.footer_icons {
  margin-left: 26px;
}

.copy {
  margin-top: 10px;
}

.footer_social {
  font-weight: 500;
  font-size: 18px;
  list-style: none;
  display: block;
  opacity: 0.8;
  margin-left: 100px;
}
.footer_social li {
  padding: 8px;
}

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Graphik";
  font-size: 24px;
  overflow-x: hidden;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 2.8rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: 1.16rem;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

h5 {
  margin: 0px;
  padding: 0px;
  font-size: 0.7rem;
  font-weight: 500;
}

p {
  padding: 0px;
  margin: 0px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 160%;
}

ul {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 50px;
}

.colorized {
  background-color: #F8F9FB;
}

.bg_fix {
  background-color: #F8F9FB;
}

.swiper {
  width: 328px;
  height: 248px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1650px) {
  .hero_image > object {
    width: 95%;
  }
  .hero_title h1 {
    font-size: 1.8rem;
    max-width: 600px;
  }
  p {
    font-size: 1rem;
    max-width: 740px;
  }
  .white_button {
    font-size: 0.8rem;
    padding: 15px 30px;
  }
  .footer_nav {
    font-size: 12px;
    margin-right: -80px;
  }
  .footer_nav a {
    margin-right: -88px;
  }
  .footer_nav li:nth-child(1) {
    font-size: 16px;
  }
}
@media screen and (max-width: 1281px) {
  .hero_title h1 {
    font-size: 1.6rem;
    max-width: 600px;
  }
  .hero_title p {
    font-size: 0.8rem;
    max-width: 570px;
    line-height: 40px;
  }
  .tokl h2 {
    font-size: 1.25em;
    max-width: 600px;
    margin-bottom: 10px;
  }
  .tokl p {
    font-size: 0.75rem;
    font-weight: 400;
    max-width: 430px;
    line-height: 125%;
  }
  .tokl ul {
    font-size: 0.66rem;
    margin-top: 19px;
  }
  .tokl button {
    margin-top: 40px;
  }
  #tokenization {
    padding-bottom: 60px;
  }
  .smartl h2 {
    font-size: 1.25em;
    margin: 0px 0px 20px 0px;
  }
  .smartl p {
    font-size: 0.75rem;
    max-width: 680px;
    font-weight: 400;
    line-height: 125%;
  }
  .smart_button {
    font-size: 0.66rem;
    width: 363px;
  }
  .smartplace_wrapper {
    align-items: initial;
  }
  .smartl {
    transform: translateY(-59px);
  }
  .slide_title {
    font-size: 0.66rem;
  }
  .blue_button {
    font-size: 0.75rem;
  }
  .items-gird {
    margin-top: 28px;
  }
  .vaultl h2 {
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .vaultl h2 img {
    margin-right: -15px;
  }
  .vaultl p {
    font-size: 0.75rem;
    max-width: 570px;
    font-weight: 400;
  }
  .items-gird {
    font-size: 0.7rem;
    grid-column-gap: 50px;
  }
}
@media screen and (max-width: 1025px) {
  .hero_title h1 {
    font-size: 1.2rem;
    max-width: 430px;
  }
  .hero_title p {
    font-size: 0.7rem;
    max-width: 460px;
    line-height: 30px;
  }
  .tokl h2 {
    font-size: 1.3rem;
    max-width: 600px;
  }
  .tokl p {
    font-size: 0.8rem;
    max-width: 570px;
    line-height: 40px;
  }
  .tokl ul {
    font-size: 0.7rem;
  }
  .smartl h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  .smartl p {
    font-size: 0.8rem;
    text-align: center;
    line-height: 30px;
  }
  .slide_title {
    font-size: 0.8rem;
  }
  .vaultl h2 {
    font-size: 1.6rem;
  }
  .vaultl p {
    font-size: 0.7rem;
    max-width: 570px;
    line-height: 40px;
  }
  .items-gird {
    font-size: 0.5rem;
    grid-column-gap: 50px;
  }
  .footer_nav {
    font-size: 10px;
    margin-right: -90px;
  }
  .footer_nav a {
    margin-right: -88px;
  }
  .footer_nav li:nth-child(1) {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    padding: 0px 15px;
  }
  #humb {
    display: block;
    z-index: 2000;
  }
  nav {
    display: none;
  }
  .logo img {
    width: 67px;
    height: 17px;
  }
  .hero_title {
    width: auto;
  }
  .hero_title h1 {
    text-align: center;
  }
  .hero_title p {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
  }
  .hero_wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  .white_button {
    display: none;
  }
  .bt_hidden {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  .hero_image > object {
    margin-top: 30px;
  }
  .hero_image {
    text-align: center;
  }
  .hero_image > object {
    width: 85%;
  }
  .tokenization_wrapper {
    justify-content: center;
    align-items: center;
  }
  .tokl {
    text-align: center;
  }
  .tokl button {
    margin: 60px auto;
  }
  .tokl .slide_hide img {
    width: 95%;
  }
  .tokl h2 {
    max-width: 100%;
  }
  .tokl p {
    max-width: 100%;
  }
  .tokl ul {
    text-align: left;
  }
  .slide_hide {
    display: block;
  }
  .tokr {
    display: none;
  }
  .smartplace_wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .smartr {
    text-align: center;
  }
  .smartl .blue_button {
    margin: 0 auto;
  }
  .smartl {
    display: none;
  }
  .smartr {
    display: none;
  }
  .smart_mobile {
    display: block;
  }
  .vault_wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .vaultl {
    text-align: center;
  }
  .vaultl button {
    margin: 80px auto;
  }
  .vaultr {
    display: none;
  }
  .items-gird {
    grid-template-columns: auto auto;
    font-size: 0.5rem;
  }
  .items-gird .gird-item img {
    display: block;
    margin: 30px auto;
  }
  #footer {
    padding: 102px 0px 51px 0px;
  }
  .footer_wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 360px;
    margin: 0 auto;
  }
  .footer_nav {
    display: none;
  }
  .footer_social {
    text-align: center;
    margin-left: 0px;
  }
  .fotterl {
    margin-top: 37px;
  }
  .post_item {
    flex-direction: column;
  }
  .post_image {
    transform: translateY(-60px);
  }
  .post_image img {
    display: block;
    margin: 0 auto;
  }
  #hero {
    padding-bottom: 120px;
  }
  #tokenization {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  #vault {
    padding: 20px 0px;
  }
  #blog {
    padding: 30px 0px;
  }
  h3 {
    font-size: 0.75rem;
  }
  p {
    font-size: 0.6em;
    font-weight: 400;
  }
}
@media screen and (max-width: 431px) {
  .post_container {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */