@import "./fonts";
@import "./hero";
@import "./tokenization";
@import "./smartplace";
@import "./vault";
@import "./blog";
@import "./conract";
@import "./instant";
@import "./about_page";
@import "./how_page";
@import "./footer";


html,body{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graphik';
    font-size: 24px;
    overflow-x:hidden;
}

h1{
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 2.8rem;
    text-transform: uppercase;
}

h2{
    
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

h3{
    font-size: 1.16rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

h4{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;

}


h5{
    margin: 0px;
    padding: 0px;
    font-size: .7rem;
    font-weight: 500;
}

p{ padding: 0px; margin: 0px; font-size: 1.3rem; font-weight: 400; line-height: 160%;}

ul{margin: 0px; padding: 0px;}


.container{
    max-width: 1920px;
    margin: 0 auto;
//    border: 1px solid red;
    padding: 0px 50px;
}

.colorized{
    background-color: #F8F9FB;
}

.bg_fix{
    background-color: #F8F9FB;
    padding: 10px 0px;
}


.swiper{
    width: 328px;
    height: 248px;
}

.swiper_smartphone{
    width: 800px;
    height: 400px;
}

.swiper-slide{
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


@import "./adaptive";