@import "./fonts";
@import "./hero";
@import "./tokenization";

body{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graphik';
    font-size: 24px;
    overflow-x:hidden;
}

h1{
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 2.8em;
}

h2{
    font-size: 2em;
    font-weight: 500;
}

p{ padding: 0px; margin: 0px; font-size: 1.3em; font-weight: 500;}

ul{margin: 0px; padding: 0px;}


.container{
    max-width: 1920px;
    margin: 0 auto;
//    border: 1px solid red;
    padding: 0px 50px;
}





@import "./adaptive";