@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Bold.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
#hero {
  position: relative;
  max-width: 100%;
  color: white;
  background-color: #192159;
  padding-bottom: 250px;
  background-image: url("../assets/images/wawes.webp");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.header {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #202A60;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 48px;
  font-weight: 400;
  line-height: 20px;
  font-size: 0.6em;
}

.active {
  position: relative;
}

.active::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -26px;
  width: 100%;
  height: 1px;
  background-color: white;
  border-radius: 10px;
}

#humb {
  display: none;
}

#humb img {
  width: 24px;
  height: 24px;
}

.hero_wrapper {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
}

.hero_title {
  width: 880px;
}
.hero_title p {
  margin-top: 30px;
  line-height: 50px;
  font-weight: normal;
  width: 850px;
}
.hero_title button {
  margin-top: 100px;
}

.hero_image {
  text-align: right;
}

.white_button {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: none;
  background-color: white;
  font-size: 1em;
  color: #1D2265;
  font-weight: 600;
  border-radius: 33px;
  padding: 15px 35px;
}
.white_button img {
  margin-left: 10px;
  vertical-align: middle;
  width: 26px;
  height: 26px;
}

.bt_hidden {
  display: none;
}

.wawes {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 300px;
  bottom: 0px;
}

#tokenization {
  position: relative;
  color: #202A60;
  padding-bottom: 100px;
}

.tokenization_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tokl p {
  max-width: 800px;
  line-height: 50px;
}
.tokl ul {
  font-size: 1em;
  font-weight: 300;
  max-width: 774px;
  margin-top: 40px;
  padding: 0px 23px;
}
.tokl ul li {
  padding: 15px 15px;
  line-height: 125%;
}
.tokl button {
  margin-top: 80px;
}

.tokr {
  text-align: right;
}
.tokr img {
  width: 95%;
}

.blue_button {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: none;
  background-color: #202A60;
  font-size: 1em;
  color: white;
  font-weight: 600;
  border-radius: 33px;
  padding: 15px 35px;
}
.blue_button img {
  margin-left: 10px;
  vertical-align: middle;
  width: 26px;
  height: 26px;
}

.slide_hide {
  display: none;
  width: 95%;
}

#smartplace {
  position: relative;
  color: #1D2265;
}

.smartplace_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.wawe_top {
  position: relative;
  top: 8px;
}

.wawe_top img {
  width: 100%;
  height: 100%;
}

.wawe_bottom {
  position: relative;
}
.wawe_bottom img {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.smartl p {
  font-size: 1.3em;
  max-width: 801px;
  margin-bottom: 38px;
  line-height: 50px;
}
.smartl ul {
  list-style: none;
}
.smartl ul li {
  padding: 24px 0px;
}
.smartl .blue_button {
  margin-top: 73px;
}

.smart_button {
  display: block;
  background-color: white;
  color: #1D2265;
  border: 1px solid #E3E4EA;
  border-radius: 10px;
  text-align: left;
  font-size: 0.8em;
  padding: 11px 140px 11px 19px;
  width: 355px;
  background-image: url("../assets/images/arrow-small.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  margin: 24px 0px;
}

.slide_title {
  text-align: center;
  font-size: 1em;
  margin-top: 23px;
}

.smartr {
  text-align: right;
}
.smartr img {
  width: 95%;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08));
}

.slider_blue {
  text-align: center;
  margin-top: 24px;
}
.slider_blue img {
  width: 149px;
}

#vault {
  color: #1D2265;
  padding: 80px 0px;
}

.vault_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vaultl button {
  margin-top: 95px;
}
.vaultl h2 img {
  vertical-align: middle;
}

.vaultr {
  text-align: right;
}
.vaultr object {
  width: 90%;
}

.items-gird {
  font-weight: 400;
  font-size: 1em;
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 80px;
  grid-column-gap: 100px;
}

.gird-item img {
  vertical-align: middle;
  margin-right: 28px;
}

#blog {
  position: relative;
  background-image: url("../assets/images/blog_wawe.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  padding: 200px 0px;
  color: #1D2265;
}

.blog_wrapper h2 {
  text-align: center;
}

.post_container {
  width: 95%;
  margin: 0 auto;
}

.post_item {
  display: flex;
  background-color: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 40px;
  margin-top: 42px;
}

.post_image {
  transform: translatex(-80px);
}
.post_image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.post__date {
  color: #BABABA;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.post__title p {
  font-size: 20px;
  font-weight: 300;
  line-height: 175%;
  padding: 25px 0px 60px 0px;
}

.link_button {
  text-decoration: none;
  background-color: #1D2265;
  border: none;
  border-radius: 10px;
  padding: 12px 34px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

#footer {
  position: relative;
  max-width: 100%;
  color: white;
  background-color: #192159;
  padding-top: 260px;
  padding-bottom: 80px;
  background-image: url("../assets/images/wave2.webp");
  background-size: 100%;
  background-position-y: -10px;
  background-repeat: no-repeat;
}
#footer h2 {
  text-align: center;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fotterl {
  font-size: 14px;
  font-weight: 300;
}

.fotterr {
  display: flex;
  justify-content: space-around;
}

.footer_nav {
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  display: block;
  opacity: 0.8;
  margin-left: 100px;
}
.footer_nav li {
  padding: 8px;
}

.footer_nav li:nth-child(1) {
  font-size: 18px;
}

.footer_icons {
  margin-left: 26px;
}

.copy {
  margin-top: 10px;
}

.footer_social {
  font-weight: 500;
  font-size: 18px;
  list-style: none;
  display: block;
  opacity: 0.8;
  margin-left: 100px;
}
.footer_social li {
  padding: 8px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Graphik";
  font-size: 24px;
  overflow-x: hidden;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 2.8em;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 1.16em;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

h5 {
  margin: 0px;
  padding: 0px;
  font-size: 0.7em;
  font-weight: 500;
}

p {
  padding: 0px;
  margin: 0px;
  font-size: 1.3em;
  font-weight: 500;
}

ul {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 50px;
}

.colorized {
  background-color: #F8F9FB;
}

.bg_fix {
  background-color: #F8F9FB;
}

@media screen and (max-width: 1650px) {
  .hero_image > object {
    width: 95%;
  }
  .hero_title h1 {
    font-size: 1.8em;
    max-width: 600px;
  }
  p {
    font-size: 1em;
    max-width: 650px;
  }
  .white_button {
    font-size: 0.8em;
    padding: 15px 30px;
  }
  .footer_nav {
    font-size: 12px;
    margin-right: -80px;
  }
  .footer_nav a {
    margin-right: -88px;
  }
  .footer_nav li:nth-child(1) {
    font-size: 16px;
  }
}
@media screen and (max-width: 1275px) {
  .hero_title h1 {
    font-size: 1.6em;
    max-width: 600px;
  }
  .hero_title p {
    font-size: 0.8em;
    max-width: 570px;
    line-height: 40px;
  }
  .tokl h2 {
    font-size: 1.8em;
    max-width: 600px;
  }
  .tokl p {
    font-size: 0.8em;
    max-width: 570px;
    line-height: 40px;
  }
  .tokl ul {
    font-size: 0.8em;
  }
  .smartl h2 {
    font-size: 1.6em;
  }
  .smartl p {
    font-size: 0.7em;
    max-width: 570px;
    line-height: 40px;
  }
  .vaultl h2 {
    font-size: 1.6em;
  }
  .vaultl p {
    font-size: 0.7em;
    max-width: 570px;
    line-height: 40px;
  }
  .items-gird {
    font-size: 0.7em;
    grid-column-gap: 50px;
  }
}
@media screen and (max-width: 1025px) {
  .hero_title h1 {
    font-size: 1.2em;
    max-width: 430px;
  }
  .hero_title p {
    font-size: 0.7em;
    max-width: 460px;
    line-height: 30px;
  }
  .tokl h2 {
    font-size: 1.3em;
    max-width: 600px;
  }
  .tokl p {
    font-size: 0.8em;
    max-width: 570px;
    line-height: 40px;
  }
  .tokl ul {
    font-size: 0.7em;
  }
  .smartl h2 {
    font-size: 1.6em;
    text-align: center;
  }
  .smartl p {
    font-size: 0.8em;
    text-align: center;
    line-height: 30px;
  }
  .slide_title {
    font-size: 0.8em;
  }
  .vaultl h2 {
    font-size: 1.6em;
  }
  .vaultl p {
    font-size: 0.7em;
    max-width: 570px;
    line-height: 40px;
  }
  .items-gird {
    font-size: 0.5em;
    grid-column-gap: 50px;
  }
  .footer_nav {
    font-size: 10px;
    margin-right: -90px;
  }
  .footer_nav a {
    margin-right: -88px;
  }
  .footer_nav li:nth-child(1) {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    padding: 0px 15px;
  }
  #humb {
    display: block;
  }
  nav {
    display: none;
  }
  .logo img {
    width: 67px;
    height: 17px;
  }
  .hero_title {
    width: auto;
  }
  .hero_title h1 {
    text-align: center;
  }
  .hero_title p {
    font-size: 0.7em;
    width: 100%;
    text-align: center;
  }
  .hero_wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  .white_button {
    display: none;
  }
  .bt_hidden {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  .hero_image > object {
    margin-top: 30px;
  }
  .hero_image {
    text-align: center;
  }
  .hero_image > object {
    width: 85%;
  }
  .tokenization_wrapper {
    justify-content: center;
    align-items: center;
  }
  .tokl {
    text-align: center;
  }
  .tokl button {
    margin: 60px auto;
  }
  .tokl .slide_hide img {
    width: 95%;
  }
  .tokl h2 {
    max-width: 100%;
  }
  .tokl p {
    max-width: 100%;
  }
  .tokl ul {
    text-align: left;
  }
  .slide_hide {
    display: block;
  }
  .tokr {
    display: none;
  }
  .smartplace_wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .smartr {
    text-align: center;
  }
  .smartl .blue_button {
    margin: 0 auto;
  }
  .vault_wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .vaultl {
    text-align: center;
  }
  .vaultl button {
    margin: 80px auto;
  }
  .vaultr {
    display: none;
  }
  .items-gird {
    grid-template-columns: auto auto;
    font-size: 0.5em;
  }
  .items-gird .gird-item img {
    display: block;
    margin: 30px auto;
  }
  #footer {
    padding: 102px 0px 51px 0px;
  }
  .footer_wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 360px;
    margin: 0 auto;
  }
  .footer_nav {
    display: none;
  }
  .footer_social {
    text-align: center;
    margin-left: 0px;
  }
  .fotterl {
    margin-top: 37px;
  }
  .post_item {
    flex-direction: column;
  }
  .post_image {
    transform: translateY(-60px);
  }
  .post_image img {
    display: block;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */