@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Bold.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
#hero {
  position: relative;
  max-width: 100%;
  color: white;
  background-color: #192159;
  padding-bottom: 250px;
  background-image: url("../assets/images/wawes.webp");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.header {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #202A60;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 48px;
  font-weight: 400;
  line-height: 20px;
  font-size: 0.6em;
}

.active {
  position: relative;
}

.active::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -26px;
  width: 100%;
  height: 1px;
  background-color: white;
  border-radius: 10px;
}

#humb {
  display: none;
}

#humb img {
  width: 24px;
  height: 24px;
}

.hero_wrapper {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
}

.hero_title {
  width: 880px;
}
.hero_title p {
  margin-top: 30px;
  line-height: 50px;
  font-weight: normal;
  width: 850px;
}
.hero_title button {
  margin-top: 100px;
}

.hero_image {
  text-align: right;
}

.white_button {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: none;
  background-color: white;
  font-size: 1em;
  color: #1D2265;
  font-weight: 600;
  border-radius: 33px;
  padding: 15px 35px;
}
.white_button img {
  margin-left: 10px;
  vertical-align: middle;
  width: 26px;
  height: 26px;
}

.wawes {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 300px;
  bottom: 0px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Graphik";
  font-size: 24px;
  overflow-x: hidden;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 2.8em;
}

p {
  padding: 0px;
  margin: 0px;
  font-size: 1.3em;
  font-weight: 500;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 50px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0px 15px;
  }
  #humb {
    display: block;
  }
  nav {
    display: none;
  }
  .logo img {
    width: 67px;
    height: 17px;
  }
}
@media screen and (max-width: 1650px) {
  .hero_image img {
    width: 95%;
  }
  .hero_title h1 {
    font-size: 1.8em;
    max-width: 600px;
  }
  p {
    font-size: 1em;
    max-width: 650px;
  }
  .white_button {
    font-size: 0.8em;
    padding: 10px 30px;
  }
}
@media screen and (max-width: 1275px) {
  .hero_title h1 {
    font-size: 1.6em;
    max-width: 600px;
  }
  .hero_title p {
    font-size: 0.8em;
    max-width: 570px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1025px) {
  .hero_title h1 {
    font-size: 1.2em;
    max-width: 430px;
  }
  .hero_title p {
    font-size: 0.7em;
    max-width: 460px;
    line-height: 30px;
  }
}/*# sourceMappingURL=main.css.map */